WebServiceToolWorkflow_REST_SOAP/project/temp.xml

<?xml version="1.0"?>
<application 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://wadl.dev.java.net/2009/02">

  <grammar>
  <xsd:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
      <xs:element name="recordset">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="record" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="field" maxOccurs="6">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="name">
			    <xs:simpleType>
			      <xs:restriction base="xs:string">
			        <xs:enumeration value="primary_key">
					<doc title="description"><![CDATA[A CRID symbol that is systematically applied to every gene in a genome within the context of sequencing projects.]]></doc>
				</xs:enumeration>
				<xs:enumeration value="location_text">
					<doc title="description"><![CDATA[A data item indicates the location of a gene in the genome, which can influence the expression of the gene and functional interactions of the gene expression products.]]></doc>
				</xs:enumeration>
				<xs:enumeration value="protein_length">
					<doc title="description"><![CDATA[A data item that represents length of predicted protein sequence.]]></doc>	
				</xs:enumeration>
				<xs:enumeration value="protein_sequence">
					<doc title="description"><![CDATA[A sequence data that is about sequence of amino acids which are linked by peptide bonds.]]></doc>				
				</xs:enumeration>				
				<xs:enumeration value="transcript_sequence">
					<doc title="description"><![CDATA[A RNA sequence data that is about the primary structure of RNA sequence produced by transcription.]]></doc>
				</xs:enumeration>
				<xs:enumeration value="cds">
					<doc title=""><![CDATA[A sequence data  that is about primary structure of coding sequence of DNA.]]></doc>
				</xs:enumeration>
			      </xs:restriction>
           		    </xs:simpleType>
   			  </xs:attribute>	
                          <xs:attribute name="title" type="xs:string"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element> 
                </xs:sequence>
                <xs:attribute name="id" type="xs:string"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="id" type="xs:string"/>
          <xs:attribute name="count" type="xs:integer"/>
          <xs:attribute name="type" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    </xs:complexType>
  </xs:element>
  </xsd:schema>
  </grammar>

  <resources base="http://toxodb.org/webservices/">
    <resource path="GeneQuestions/GeneByLocusTag.xml">
      <method name="POST" id="genebylocustag">
	<doc title="display_name"><![CDATA[Gene ID(s)]]></doc>
	<doc title="summary"><![CDATA[Find a gene by its ID.]]></doc>
	<doc title="description"><![CDATA[Find genes by a list of IDs. Either enter the ID list manually, 
        or upload a plain text file that contains the list. IDs can be delimited by a comma, 
        a semi colon, or any white spaces. For example, a list can be in the
        following form: TGME49_039250, NCLIV_000080. The ids you provide cannot have wild cards for 
  	this search. If you want search genes with wild cards, you can use the "Gene Id" quick
        search at the top of the page.<br>
        <b>Note: when searching for multiple IDs it is possible that not all will be found in the database. This may be due to changes in the annotation or unavailability of ID mapping. At present we do not have a mechanism to inform you which IDs from your input did not match anything in the database.</b>]]></doc>
	<request>
	  <param name="ds_gene_ids" type="xsd:string" required="true" default="TGME49_039250" >
	    <doc title="prompt"><![CDATA[Gene ID input set]]></doc>
	    <doc title="help"><![CDATA[Input a comma delimited set of gene ids, or upload a file. 
 	    Note: when searching for multiple IDs it is possible that not all will be found in the database. This may be due to changes in the annotation or unavailability of ID mapping. At present we do not have a mechanism to inform you which IDs from your input did not match anything in the database.]]></doc>
	    <doc title="default"><![CDATA[TGME49_039250]]></doc>
	  </param>
	  <param name="o-fields" type="xsd:string" required="false" default="primary_key,location_text,protein_length,protein_sequence,transcript_sequence,cds" repeating="true">
	    <doc title="prompt"><![CDATA[Output Fields]]></doc>
	    <doc title="help"><![CDATA[Single valued attributes of the feature.]]></doc>
	    <doc title="default"><![CDATA[primary_key,location_text,protein_length,protein_sequence,transcript_sequence,cds]]></doc>
	    <doc title="MultiValued">Provide one or more values. Use comma as a delimter.</doc>
	    <option value="none"><doc title="description">Show no attributes</doc></option>
	    <option value="primary_key"><doc title="description"><![CDATA[Gene ID]]></doc></option>
	    <option value="location_text"><doc title="description"><![CDATA[Genomic Location]]></doc></option>
	    <option value="protein_length"><doc title="description"><![CDATA[Protein Length]]></doc></option>
	    <option value="protein_sequence"><doc title="description"><![CDATA[Predicted Protein Sequence]]></doc></option>
	    <option value="transcript_sequence"><doc title="description"><![CDATA[Predicted RNA/mRNA Sequence (introns spliced out)]]></doc></option>
	    <option value="cds"><doc title="description"><![CDATA[Coding Sequence]]></doc></option>
	  </param>
	  <param name="o-tables" type="xsd:string" required="false" default="none" repeating="true" fixed="true">
	    <doc title="prompt"><![CDATA[Output Tables]]></doc>
	    <doc title="help"><![CDATA[Multi-valued attributes of the feature.]]></doc>
	    <doc title="default"><![CDATA[none]]></doc>
	    <doc title="MultiValued">Provide one or more values. Use comma as a delimter.</doc>
	  </param>
	</request>
        <response>
	  <representation mediaType="text/xml" element="response"/>
        </response>
      </method>
    </resource>
  </resources>
</application>
